@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">To My Music Store Web Page</h1>
    <div class="mt-5">
        <h3>Student Name: Albert David Bangura</h3>
        <h3>Student No.: 31901804</h3>
    </div>
</div>
